<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Lista de Productos</title>
</head>
<body>
<section>
    <div class="container-fluid mt-4 p-3">
        <div class="row">
            <p class="text-center fs-3 mt-2">Todos los Productos</p>
            <hr>
            <a href="/admin/" class="text-decoration-none">
                <i class="fa-solid fa-arrow-left"></i> Volver
            </a>

            <th:block th:if="${session.succMsg}">
                <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <div class="col-md-4 p-3">
                <form action="/admin/products" method="get">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" name="ch">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary col">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="p-3">
                <table class="table table-bordered">
                    <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p, c : ${productos}">
                        <th scope="row">[[${p.id}]]</th>
                        <td>[[${p.nombre}]]</td>
                        <td>[[${p.marca}]]</td>
                        <td>[[${p.precio}]]</td>
                        <td>[[${p.descripcion}]]</td>
                        <td>
                            <a th:href="@{'/admin/editProducto/'+${p.id}}" class="btn btn-sm btn-primary">
                                <i class="fa-solid fa-pen-to-square"></i> Editar
                            </a>
                            <a th:href="@{'/admin/deleteProducto/'+${p.id}}" class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
