<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid bg-light mt-2 mb-2">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<form>
						<div class="input-group">
							<input type="text" class="form-control" name="ch">
							<button class="btn btn-dark text-white ms-2 col-md-2 ">
								<i class="fa-solid fa-magnifying-glass"></i> Buscar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container-fluid mt-1">
			<div class="row">
				
					<div class="col-md-2 p-0">
					<div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
						<div class="card-body">
							<div class="list-group">
								<a href="#"
									class="list-group-item list-group-item-action active bg-dark text-white"
									aria-current="true"> Categorias</a> <a href="#"
									class="list-group-item list-group-item-action"> Motor y
									Transmisión</a> <a href="#"
									class="list-group-item list-group-item-action"> Sistema de
									Frenos</a> <a href="#"
									class="list-group-item list-group-item-action"> Sistema
									Suspensión</a> <a href="#"
									class="list-group-item list-group-item-action"> Sistema
									Eléctrico</a> <a href="#"
									class="list-group-item list-group-item-action"> Sistema de
									Escape</a> <a href="#"
									class="list-group-item list-group-item-action"> Sistema
									Enfriamiento </a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-10">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body">
							<p class="fs-3 text-center fw-bold">Productos</p>
							<div class="row">
								<div class="col-md-3">
									<div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
										<div class="card-body text-center">
											<img alt="" src="img/pro1.jpg" width="100%" height="150px">
											<p class="fs-5 text-center">Bomba para sistemas de
												enfriamiento</p>
											<div class="row text-center">
												<p class="fs-6 fw-bold">
													S/500.00 <span class="fs-6 text-success">20% off</span>
												</p>
												<a href="/producto" class="btn btn-warning col-md-8 offset-md-2">Ver
													Detalles</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
										<div class="card-body text-center">
											<img alt="" src="img/pro2.jpg" width="100%" height="150px">
											<p class="fs-5 text-center">Bomba para sistemas de
												enfriamiento</p>
											<div class="row text-center">
												<p class="fs-6 fw-bold">
													S/500.00 <span class="fs-6 text-success">20% off</span>
												</p>
												<a class="btn btn-warning col-md-8 offset-md-2">Ver
													Detalles</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
										<div class="card-body text-center">
											<img alt="" src="img/pro3.jpg" width="100%" height="150px">
											<p class="fs-5 text-center">Bomba para sistemas de
												enfriamiento</p>
											<div class="row text-center">
												<p class="fs-6 fw-bold">
													S/500.00 <span class="fs-6 text-success">20% off</span>
												</p>
												<a class="btn btn-warning col-md-8 offset-md-2">Ver
													Detalles</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-3">
									<div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
										<div class="card-body text-center">
											<img alt="" src="img/pro4.jpg" width="100%" height="150px">
											<p class="fs-5 text-center">Bomba para sistemas de
												enfriamiento</p>
											<div class="row text-center">
												<p class="fs-6 fw-bold">
													S/500.00 <span class="fs-6 text-success">20% off</span>
												</p>
												<a class="btn btn-warning col-md-8 offset-md-2 ">Ver
													Detalles</a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>